.background {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  @apply bg-black;
  @apply relative;
}

.background_output {
  @apply border-none;
  @apply relative;
}

.background_console {
  @apply border-none;
  @apply bg-black;
  @apply relative;
}

.copy_button {
  @apply bg-gray-600;
  @apply hover:bg-gray-700;
  @apply text-gray-400;
  @apply px-2;
  @apply text-base;
  @apply absolute;
  @apply top-0;
  @apply right-0;
}

.row {
  @apply table-row;
}

.row_output {
  @apply table-row;
  @apply bg-gray-800;
  @apply block;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.row_console {
  @apply table-row;
  @apply bg-gray-800;
  @apply block;
  border-top: 1px solid rgb(31 41 55);
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.first_line {
  @apply pt-3;
}

.line_content {
  @apply table-cell;
  @apply pl-4;
}

.line_content_console {
  @apply table-cell;
  @apply pl-4;
  width: 100%;
}

.line_number {
  @apply table-cell;
  @apply text-right;
  @apply select-none;
  @apply pl-4;
  @apply pr-3;
  @apply text-gray-500;
  @apply bg-gray-800;
}

.line_number_console {
  @apply table-cell;
  @apply text-right;
  @apply select-none;
  @apply pl-4;
  @apply pr-3;
  @apply text-gray-500;
  @apply bg-gray-800;
}

.line_number_blank {
  @apply table-cell;
  @apply text-right;
  @apply select-none;
  @apply bg-gray-800;
  @apply pl-4;
  @apply pr-3;
  @apply text-gray-700;
  @apply pb-4;
}

.line_number_output {
  @apply table-cell;
  @apply text-right;
  @apply select-none;
  @apply pl-4;
  @apply pr-3;
  @apply text-gray-500;
  @apply bg-gray-800;
  @apply pb-1;
}

.last_line {
  @apply pb-3;
}
